
body
{
    background-image: url("../image9.jpg");
}
#corps
{
    width: 90%;
    background: url("../image1.jpg"), url("../image2.jpg"), url("../image3.jpg");
    background-size: 100%;
    border-radius: 15px solid;
    min-height: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    border: 1px none

}
header
{
    height: 150px;
    background: linear-gradient(to right, rgb(90, 171, 218), white);
    padding: 15px;
    margin-top: 2px;
    border-radius: 20px 20px 3px 3px;
    text-align: center;
}
header:active
{
    background-image: url("../image9.jpg");
}
#header
{
    display: flex;
    align-items: center;
}
#h
{
    display: inline-block;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    font-size: 200%;
    font-family: algerian;
    font-weight: bold;
    height: 60%;
}
nav
{
    height: 50px;
    background-color: rgb(90, 171, 218);
    border-radius: 15px 2px 15px 2px;
    margin-top: 15px;
    margin-bottom: 15px;
}
ul
{
    list-style: none;
    padding-top: 0%;
    margin-top: 0%;
    text-align: center;
}
li
{
    display: inline-block;
    width: 15%; /*12 c'est ultra petit*/
    margin-top: 8px;
    padding-top: 5px;
    padding-right: 15px;
    margin-left: 0.5%;
    border: 1px 1px 1px 1px solid;
    background-color: white;
    border-radius: 5px 5px 0px 0px;
}
li:hover
{
    background-color: aqua;
}
a
{
    font-weight: bold;
    font-size: 150%;
    text-align: right;
    /*si on met le display, on perd une partie du border*/
    padding-left: 1%;
    padding-right: 1%;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    /*je ne vois pas de soulignement*/
}
a:hover
{
    color: blue;
}
#cmp
{
    min-height: 950px;
    background-color: rgba(245, 76, 194, 0.9);
    margin: 0;
    border: 2px 2px 2px 2px solid;
    border-radius: 10px;
}
footer
{
    height: 200px;
    background: linear-gradient(to left, rgb(90, 171, 218), white);
    border-radius: 10px 10px 0px 0px;
    border: 1px solid none;
    margin-top: 15px;
}
#footer
{
    display: flex;
}
.block
{
    margin-right: 15%;
}
#les_sections
{
    min-height: 700px;
    width: 82%;
    background-color: white;
    border: 1px solid grey;
    border-radius: 2px 2px 4px 4px;
    display: inline-block;
}
aside
{
    width: 17%;
    vertical-align: top;
    background-color: white;
    height: 500px;
    display: inline-block;
    border: 2px solid rgb(90, 171, 218);
    overflow: hidden;
}
#imgaside
{
    width: 50%;
    display: inline-block;
    margin-top: 10px;
    border: 2px double rgb(90, 171, 218);
    margin-left: 13%;
    height: 250px;
    width: 150px;
}
#paside
{
    font-size: 150%;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}
section
{
    border: 1px solid lightblue;
    background-color: rgb(90, 171, 218);
    font-size: 120%;
    text-align: justify;
    padding: 1%;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}
article
{
    background-color: #b1d5f5;
    border: 1px solid white;
    border-radius: 7px 15px;
    padding: 1%;
    margin-bottom: 10px;
    height: 300px;
    overflow: hidden;
}
article:active
{
    background: linear-gradient(to right, white, darkblue)
}
.imgarticle
{
    border: 1px dotted rgb(90, 171, 218);
    box-shadow: 2px 3px 5px rgb(90, 171, 218);
    float: left;
    margin-right: 10px;
    width: 150px;
    height: 200px;
}
#mail
{
    font-size: 1em;
    font-weight: 500;
    text-decoration: none;
}
#img4
{
    margin-right: 14px;
}
#L1
{
    image-resolution: 130px;
}



